:root {
  --sky-color: #1899e7;
  --dark-color: #147ca1;
  --light-color: #35cdd2;
  --green-color: #54cba1;
  --background-color: #f5f5f5;
  --text-color: #333;
  
}

[data-theme="dark"] {
  --sky-color: #67c7ff;
  --dark-color: #1b4f60;
  --light-color: #30a1a6;
  --green-color: #49a584;
  --background-color: #323131;
  --text-color: #f0f0f0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.popupContainer {
  position: absolute;
  width: 380px;
  height: auto;
  left: 40%;
  top: 150px;
  border: 2px solid;
}

.btn {
  padding: 10px 20px;
  background: var(--green-color);
  color: var(--text-color);
  font-size: large;
}

.btn_red {
  background:var(--dark-color);
  color: var(--text-color);
}

.btn:hover {
  background: var(--light-color);
}

.btn_red:hover {
  background: var(--dark-color);
}

a.btn {
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
}

a.btn_red {
  color: var(--text-color);
}

.one_half {
  width: 50%;
  display: block;
  float: left;
}

.one_half.last {
  width: 45%;
  margin-left: 5%;
}
/* Popup Styles*/

.popupHeader {
  font-size: 16px;
  text-transform: uppercase;
}

.popupHeader {
  background: var(--background-color);
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid var(--background-color);
  font-weight: bold;
}

.popupHeader .modal_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  background: var(--background-color);
  cursor: pointer;
  color: var(--text-color);
  font-size: 16px;
}

.popupBody {
  padding: 20px;
}

.social_login .social_box {
  display: block;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  background: var(--background-color);
  overflow: hidden;
}

.social_login .icon {
  display: block;
  width: 40px;
  padding: 5px 10px;
  margin-right: 10px;
  float: left;
  color: var(--text-color);
  font-size: 18px;
  text-align: center;
}

.social_login .google .icon {
  background: var(--sky-color);
}

.social_login .icon_title {
  display: block;
  padding: 5px 0;
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
}

.social_login .social_box:hover {
  background: var(--light-color);
}

.centeredText {
  text-align: center;
  margin: 20px 0;
  clear: both;
  overflow: hidden;
  text-transform: uppercase;
}

.action_btns {
  clear: both;
  overflow: hidden;
}

.action_btns a {
  display: block;
}

.user_login label {
  display: block;
  margin-bottom: 5px;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid var(--background-color);
  color: var(--text-color);
}

.user_login input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.user_login input[type="checkbox"] + label {
  float: left;
}

.user_login .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

.forgot_password {
  display: block;
  margin: 20px 0 10px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  color: #ed6347;
}
/* User Register Form */

.user_register label {
  display: block;
  margin-bottom: 5px;
}

.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid var(--background-color);
  color: var(--text-color);
}

.user_register input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.user_register input[type="checkbox"] + label {
  float: left;
}

.user_register .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}
